/* Portfolio - Projects */
.projects__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  // margin-left: 30px;

  overflow: hidden;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  // &:nth-last-child(-n + 3) {
  //   margin-bottom: 0px;
  // }
  // &:nth-child(3n + 1) {
  //   margin-left: 0px;
  // }
  &:hover .projects__slidetext {
    transform: translateY(0%);
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }
}

.projects__link {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.projects__wrapper {
  position: relative;
  overflow: hidden;
}

.projects__img {
  display: block;
  width: calc(100vw - 30px);
  max-width: 450px;
  height: auto;
  max-height: 294px;

  @media screen and (min-width: $tablet) {
    width: 100%;
  }
}

.projects__slidetext {
  position: absolute;
  top: 0;
  left: 0;
  padding: 77px 24px;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__subtitle {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__text {
  font-size: 16px;
  line-height: 1.88;
  color: $colorSeconday;
}

.projects__text,
.projects__subtitle {
  padding-left: 24px;
  padding-right: 24px;
}
