/* Footer */
.page-footer {
  color: $colorHero;
  background-color: $bgColorFooter;

  padding: 60px 0px;
}

@media screen and (min-width: $tablet) {
  .container--tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: $desktop) {
  .container--desktop {
    flex-wrap: nowrap;
  }
}
.page-footer--display {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  flex-wrap: wrap;
  @media screen and (min-width: $desktop) {
    align-items: flex-start;
  }
}

.page-footer__logo {
  color: inherit;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;

  margin-bottom: 20px;
  display: block;

  &:visited {
    color: inherit;
  }

  font-size: 24px;
  line-height: 1.17;
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }

  .page-footer__logo--secondary {
    color: $LogoColorSec;
  }
}
