/* Header */
.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding: 10px 0px;

  &--display {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.page-header__logo {
  color: $HdLogoColor;
  text-decoration: none;
  font-family: $fontSecondary;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  &--secondary {
    color: $LogoColorSec;
  }
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.page-header__menu {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  z-index: 1000;

  &.is-open .page-header__icon--close {
    display: block;
  }
  &.is-open .page-header__icon {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &.is-open {
    display: block;
  }

  &.is-open + .menu {
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  @media screen and (max-height: 750px) {
    &.is-open + .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
.page-header__icon--close {
  display: none;
}

.menu {
  z-index: 999;
  padding: 48px 40px;
  background-color: $bgColorPrimary;

  overflow-y: scroll;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
    padding: 0;
    overflow-y: visible;
    //Bugfix for open menu and change of layout
    &.is-open {
      display: block;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 48px 40px;
      margin-left: 0px;
      overflow-y: scroll;
    }
    &.is-open .navigation {
      display: block;
      margin-right: 0px;
    }
    &.is-open .navigation__list {
      display: block;
    }
    &.is-open .navigation__item {
      &:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 30px;
      }
      &--current {
        color: $colorPrimary;
      }
      &--current::after {
        content: '';
        background: transparent;
      }
    }
    &.is-open .navigation__link {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.175;
      letter-spacing: 0.02em;
      padding: 0px;
    }
    &.is-open .contacts {
      margin-top: 302px;
      display: block;
      @media screen and (max-height: 750px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    &.is-open .contacts__item:first-child {
      margin-bottom: 30px;
      margin-top: 0px;
      margin-left: 0px;
    }
    &.is-open .contacts__link.conctacts__item--tel {
      font-size: 34px;
      line-height: 1.176;
      letter-spacing: 0.02em;

      color: #2196f3;
    }
    &.is-open .contacts__link.contacts__item--email {
      font-size: 24px;
      line-height: 1.166;
      letter-spacing: 0.02em;

      color: #757575;
    }
    &.is-open .contacts__icon {
      display: none;
    }
    &.is-open .header-social {
      display: flex;
      @media screen and (max-height: 750px) {
        margin-top: 0px;
      }
    }
    //End of Bugfix
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}
