/* Header */
.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding: 10px 0px;

  &--display {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.page-header__logo {
  color: $HdLogoColor;
  text-decoration: none;
  font-family: $fontSecondary;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  &--secondary {
    color: $LogoColorSec;
  }
}
.page-header__menu {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  z-index: 1000;

  &.is-open .page-header__icon--close {
    display: block;
  }
  &.is-open .page-header__icon {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &.is-open {
    display: block;
  }

  &.is-open + .menu {
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  @media screen and (max-height: 750px) {
    &.is-open + .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
.page-header__icon--close {
  display: none;
}

.menu {
  z-index: 999;
  padding: 48px 40px;
  background-color: $bgColorPrimary;

  overflow-y: scroll;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
    padding: 0;
    overflow-y: visible;
  }
}
