//Fonts
$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: 'Raleway', sans-serif;

//Colors
$colorPrimary: #212121;
$colorSeconday: #757575;
$colorHover: #2196f3;
$colorHero: #ffffff;
$colorIconFooter: #ffffff;
$colorIcon: #afb1b8;

//Background Colors
$bgColorPrimary: #ffffff;
$bgColorSecondary: #f5f4fa;
$bgColorHero: #2f303a;
$bgColorFooter: #2f303a;

//Header Logo
$HdLogoColor: #000000;
$LogoColorSec: #2196f3;

// Portfolio - Categories Menu Buttons Color Scheme
$colorCatBtnHover: #ffffff;
$bgColorCatBtn: #f5f4fa;
$bgColorCatBtnHover: #2196f3;

//General Buttons Colors
$btnColor: #ffffff;
$btnBgColor: #2196f3;
$btnBgColorHov: #188ce8;
