/* Index - Section 5 (Loyal Customers) */
.customers {
  @include section;
}

.customers__title {
  font-weight: 700;
  text-align: center;

  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.166;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  list-style: none;
  gap: 30px;
}

.customers__item {
  display: inline-block;
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px * 2) / 3);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 30px * 5) / 6);
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $colorHover;
  }
}

.customers__icon {
  fill: $colorIcon;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .customers__link:hover &,
  .customers__link:focus & {
    fill: $colorHover;
  }
}
