// Fieldset
.fieldset {
  display: flex;
  flex-direction: column;

  margin: 0px;
  padding: 0px;

  border: none;
}

.fieldset__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $colorSeconday;
  position: absolute;
  bottom: calc(100% + 4px);
  left: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // margin-bottom: 4px;

  // &:focus-visible {
  //   color: $colorHover;
  // }
}

.fieldset__wrapper {
  position: relative;
  display: flex;

  margin-bottom: 28px;
  &--last {
    margin-bottom: 20px;
  }
}

.fieldset__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 40px;
  width: 100%;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-visible {
    border: 1px solid $colorHover;
    outline: transparent;
  }
  &:focus-visible + .fieldset__icon {
    fill: $colorHover;
  }
  &:focus-visible ~ .fieldset__label {
    color: $colorHover;
  }
}

.fieldset__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset__comment {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;

  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-visible {
    border: 1px solid $colorHover;
    outline: transparent;
  }
  &:focus-visible ~ .fieldset__label {
    color: $colorHover;
  }

  @media screen and (min-width: $desktop) {
    font-size: 12px;
    line-height: 1.166;
  }
}

.fieldset__send {
  background: $btnBgColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  padding: 10px 55px 10px 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  letter-spacing: 0.06em;

  color: $btnColor;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: $btnBgColorHov;
  }
}
