/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
  z-index: 10000;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & .modal {
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal {
  position: absolute;
  width: calc(100% - 30px);
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;

  background-color: $bgColorPrimary;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: opacity visibility transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-height: 625px) {
    top: 0%;
    transform: translate(-50%, 0) scale(1);
  }
}

.modal__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $bgColorPrimary;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;

  &:hover .modal__icon {
    fill: $colorHover;
  }
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $colorPrimary;

  margin-bottom: 30px;
}
